@font-face {
  font-family: 'Amethysta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fontsgstaticcom/s/amethysta/v16/rP2Fp2K15kgb_F3ibfW4Hz-G_7667763.ttf) format('truetype');
}
